# Document retrieval from Wikipedia data

In [59]:
import turicreate

# Load some text data from Wikipedia

In [60]:
people = turicreate.SFrame('people_wiki.sframe')

#See our data

In [61]:

people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Explore data

## Taking a look at the entry for President Obama

In [62]:

obama = people[people['name'] == 'Barack Obama']

In [63]:
clooney = people[people['name'] == 'George Clooney']
john= people[people['name']=='Elton John']
victor=people[people['name']=='Victoria Beckham']
paul=people[people['name']==' Paul McCartney']

# Word counts for Obama acticle

In [64]:
john['word_count'] = turicreate.text_analytics.count_words(john['text'])

In [65]:
list_words=john['word_count'][0]
list_words
#Checking the most occuring  words for our dear Elton John
sorted(john['word_count'][0],key=lambda x:john['word_count'][0][x])

['movements',
 'social',
 'champion',
 'wed',
 'legal',
 'became',
 'after',
 '2005',
 '1988',
 'openly',
 '1976',
 'bisexual',
 '200',
 'raised',
 'industry',
 'film',
 'hollywood',
 'parties',
 'become',
 'which',
 'hosting',
 'year',
 'established',
 '1992',
 '1980s',
 'lgbt',
 'against',
 'involved',
 '2014',
 'entered',
 '2012he',
 'you',
 'nine',
 'something',
 'samesex',
 'solo',
 'overallelton',
 'era',
 'performed',
 'such',
 '27',
 'world',
 'highestprofile',
 'actor',
 '300',
 'including',
 'tonightcandle',
 'datein',
 'singer',
 'four',
 '1994',
 'continues',
 'rolling',
 'seven',
 'diana',
 'us',
 '10',
 'hits',
 'records',
 'order',
 'david',
 'civil',
 'pianist',
 'march',
 'look',
 'reginald',
 'song',
 'golden',
 'bernie',
 'way',
 'all',
 'ii',
 'hercules',
 '1967',
 'collaborated',
 '33',
 'partnership',
 'fifty',
 '1947',
 'cbe',
 'singles',
 'had',
 'producer',
 'career',
 'kenneth',
 'fellow',
 'fight',
 'worked',
 'record',
 'having',
 'be',
 'making',
 'most',
 'buckingham',
 'sir',
 'least',
 'have',
 'inducted',
 'taupin',
 'they',
 'partner',
 '2002',
 'brit',
 '30',
 'lasting',
 'composers',
 'royal',
 'fivedecade',
 'artist',
 'westminster',
 'occasional',
 'copies',
 'charitable',
 'england',
 'began',
 'time',
 '58',
 'wind',
 'six',
 'culture',
 'later',
 'grammy',
 'five',
 'winning',
 'two',
 'english',
 'outstanding',
 '2008',
 'influential',
 'contribution',
 'disney',
 'first',
 'funeral',
 'brits',
 'icon',
 '2013',
 'inception',
 '1998',
 'globe',
 '1996',
 'tony',
 'legend',
 '2',
 'center',
 'who',
 'from',
 'annual',
 'honors',
 '25',
 'events',
 'stone',
 'years',
 'queens',
 'born',
 '49',
 'musicians',
 'kennedy',
 'princess',
 'successful',
 'male',
 'about',
 'alltime',
 'list',
 'third',
 'impact',
 'inductee',
 'announced',
 '19702000',
 '31',
 'named',
 'dwight',
 'heavily',
 'authors',
 'commander',
 'oscar',
 'empire',
 'lyricist',
 'knighthood',
 'elizabeth',
 'abbey',
 'late',
 'composer',
 'diamond',
 'jubilee',
 'concert',
 'outside',
 'december',
 'furnish',
 'gay',
 'artists',
 'single',
 'foundation',
 '1',
 'aids',
 'consecutive',
 'songwriter',
 '40',
 'palace',
 '21',
 '1997',
 'received',
 'marriage',
 'with',
 'sold',
 'as',
 'hot',
 'bestselling',
 'worldwide',
 'over',
 'its',
 'albums',
 'fame',
 '2004',
 'ranked',
 'number',
 'rock',
 'roll',
 'was',
 'hall',
 'songwriters',
 'services',
 'party',
 'academy',
 'no',
 'one',
 'million',
 '100',
 'him',
 'british',
 'an',
 'awards',
 'music',
 'elton',
 'more',
 'than',
 'been',
 'into',
 'billboard',
 'his',
 'at',
 'to',
 'top',
 'is',
 'for',
 'since',
 'award',
 'on',
 'john',
 'he',
 'has',
 'a',
 'of',
 'and',
 'in',
 'the']

## Find most common words in Obama article

In [66]:
#We will turn the word count dictionary into two columns to use them with pre built TuriCreate Library functions and models
#We will use two models , TFIDF and raw word count and compare accuracies
#at the end we will provide two predictions
john.stack('word_count',new_column_name=['word','count'])

Columns:
	URI	str
	name	str
	text	str
	word	str
	count	float

Rows: 255

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-----------+-------+
|    word   | count |
+-----------+-------+
| movements |  1.0  |
|   social  |  1.0  |
|  champion |  1.0  |
|    wed    |  1.0  |
|   legal   |  1.0  |
|   became  |  1.0  |
|   after   |  1.0  |
|    2005   |  1.0  |
|  december |  2.0  |
|  furnish  |  2.0  |
+-----------+-------+
[255 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [67]:
john_word_count = john[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [68]:
john_word_count

Columns:
	word	str
	count	float

Rows: 255

Data:
+-----------+-------+
|    word   | count |
+-----------+-------+
| movements |  1.0  |
|   social  |  1.0  |
|  champion |  1.0  |
|    wed    |  1.0  |
|   legal   |  1.0  |
|   became  |  1.0  |
|   after   |  1.0  |
|    2005   |  1.0  |
|  december |  2.0  |
|  furnish  |  2.0  |
+-----------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [69]:
john_word_count.sort('count',ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Compute TF-IDF for the entire corpus of articles

In [70]:
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [71]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])

In [72]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'society': 2.444804726208... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'asses': 9.60020102810530... |
| {'streamz': 10.98649538922... |
| {'concordia': 6.2502969408... |
| {'heavies': 8.907053847545... |
| {'2002': 1.875312588782230... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Examine the TF-IDF for the Obama article

In [73]:
john = people[people['name'] == 'Elton John']   
john[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tfidf        |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|   fivedecade  | 10.293348208665249 |
|    19702000   | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [78]:
victor= people[people['name'] == 'Victoria Beckham']
paul= people[people['name'] == 'Paul McCartney']
victor[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)
paul[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 162

Data:
+----------------+--------------------+
|      word      |       tfidf        |
+----------------+--------------------+
|   mccartney    | 25.330140156270684 |
|     lennon     | 18.969168885339382 |
|    beatles     | 16.505095367203616 |
|     starr      | 12.253365969727044 |
|      solo      | 11.354513037204992 |
| lainemccartney | 10.986495389225194 |
| musicmccartney | 10.986495389225194 |
|    harrison    | 10.682096983163913 |
|      mbes      | 10.293348208665249 |
|     wings      | 10.162267082341248 |
+----------------+--------------------+
[162 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Manually evaluate the distance between certain people's articles

In [79]:
turicreate.distances.cosine(victor['tfidf'][0],john['tfidf'][0])

0.9567006376655429

In [80]:
turicreate.distances.cosine(paul['tfidf'][0],john['tfidf'][0])

0.8250310029221779

## Build the NN model

In [81]:
knn_word_count_model = turicreate.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine',)
knn_tfidf_model = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [82]:
knn_tfidf_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 47.978ms     |

| Done         |         | 100         | 390.919ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692848   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

In [41]:
knn_word_count_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6.774ms      |

| Done         |         | 100         | 225.365ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

In [83]:
knn_tfidf_model.query(victor)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.224ms     |

| Done         |         | 100         | 209.185ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]

In [87]:
knn_word_count_model.query(victor)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 10.183ms     |

| Done         |         | 100         | 196.127ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

In [86]:
knn_tfidf_model.query(victor)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 6.559ms      |

| Done         |         | 100         | 229.869ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]